<h1>Listing todos</h1>

<%= render 'form' %>

<table id="todos">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
    <tr class='<%='completed' if todo.completed? %>' >
        <td><%= form_for(todo) do |f| %>
          <% if todo.completed then compl = 'active' else compl = 'completed' end %>
            <%= f.hidden_field :completed, value: !todo.completed?  %>
            <%= f.submit 'mark as ' + compl %>
            <% end %>
        </td>
        <td><span><%= todo.title %></span></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= "#{@todos.active.count} item(s) left"%></p>
<br>

<%= link_to 'All', root_path %>
<%= link_to 'Completed', scoped_todos_path('completed') %>
<%= link_to 'Active', scoped_todos_path('active') %>
